@charset "utf-8";
/* CSS Document */

.navigation a.next span{
	width:115px;
}
.navigation a.next span.next-ico{
	width:22px; position:relative; top:-18px; z-index:9999; right:0px; display:block;
}
.nav-below{
	padding-bottom:40px;
}
.page-number{
	height:30px;
	line-height:30px;
	padding-top:0;
}
.banner-testimonial blockquote {
	width:80%;
}
.entry-details blockquote {
	width:100%;
}
.footer-widgets {
	padding-bottom:20px;
}
ul.gallery-items {
	padding-bottom:44px;
}
.post-read-more span {
	line-height:31px;
}