@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:800px) and (max-width:960px) {
/* Common for all pages */
.container{
	width:800px;
}
.header .social-media li{
	padding:10px 11px;
}
a.logo img{
	max-width:319px;
	margin-top:27px;
}
/* Menu */
.main-menu-container ul{
	padding-left:1.5%;
	width:98.5%;
}
.fullwidth {
	width:97.5%;
}
/* notify-section */
.notify-bg{
	margin-left:0;
}
/* Banner */
.banner{
	height:319px;
}
.nivo-caption{
	width:360px;
}
.nivo-caption p{
	margin:0 10px 15px;
}
/* Footer */
.footer-column1, .footer-column2, .footer-column3{
	margin:0px 8px;
}
/* home-recent-news */
.home-recent-news ul li{
	margin:0px 8px;
}
/* home-col-left & home-col-right */
.home-col-left, .home-col-right, .block-heading-two, .right-accordion .holder , .home-col-bottom{
	width:393px;
}
.home-col-left{
	margin-right:14px;
}
.home-testimonials div{
	width:374px;
}
.home-our-team .entry .entry-title, .our-team .post-details .post-title{
	width:228px;
}
.home-our-team .entry .entry-title-bottom, .our-team .post-details .post-title-bottom{
	width:253px;
}
.home-our-team, .home-testimonials div {
    padding-left: 13px;
    padding-right: 13px;
    width: 365px;
}
.home-our-team .entry .entry-thumb{
	margin-right:10px;
}
.home-our-team, .home-testimonials {
	min-height:386px;
}
/* Index2 */
.banner-testimonial{
	margin-left:5px;
	width:233px;
}
.banner-right{
	margin-top:22px;
	margin-right:5px;
	height:309px;
	width:525px;
}
/* Home col right */
.home-recent-news .our-team .entry {
	margin-right:10px;
	width:389px;
}
.home-recent-news .our-team .entry-thumb{
	margin-right:5px;
}
.home-recent-news .our-team .post-details{
	width:244px;
}
.home-our-team .entry .entry-title, .our-team .post-details .post-title{
	width:218px;
}
.home-our-team .entry .entry-title-bottom, .our-team .post-details .post-title-bottom {
	width:244px;
}
.home-col-left .latest-news-container .entry-thumb {
	margin-right:10px;
	width:110px;
}
.home-col-left .latest-news-container .post-details {
	width:243px;
}
.home-col-left .latest-news-container .entry {
	width:95%;
}
.latest-news-container, .home-practice {
	min-height:374px;
}
/* About */
.row-section li .right {
	width:550px;
}
.one-fourth img{
	max-width:100%;
}
.one-fourth span.shadow{
	width:185px;
}
span.video-shadow {
	margin-left: -34px;
    max-width: 843px;
}
.blq2 {
	width:94.7%;
}
/* Typography */
.block-heading-two, .right-accordion .holder{
	width:359px;
}
.one-half {
	width:48.8%;
}
.one-fourth {
	width:23%;
}
/* Accordion  */
ul.accordion li a.active , ul.accordion li a.title{
	width:93.5%;
}
ul.right-accordion li div.holder {
	width:99.8%;
}
/* Button */
.small {
	font-size:12px;
}
.big {
	font-size:14px;
}
.big-right-arrow-red span, .big-right-arrow-brown span, .big-square-red span, .big-square-brown span {
	padding:0 29px 0 40px;
}
.big-double-arrow-red span, .big-double-arrow-brown span , .big-rounded-red span, .big-rounded-brown span{
	padding:0px 20px 0px 35px;
}
/* Blog */
.blog-post {
	margin-bottom:30px;
}
.blog-post img{
	max-width:57%;
	margin-bottom:60px;
}
.post-content {
	right:-30px;
}
.entry-post {
	position:relative;
	top:0;
	margin-bottom:15px;
}
.social-bookmarks {
	width:800px;
}
.entry-info .entry-details p {
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.entry-post p {
	margin-bottom:10px;
	padding:0px 10px;
}
.entry-post {
	min-height:230px;
}
/* Contact */
.page-content {
	width:461px;
}
.map-section iframe {
	width:460px;
	height:250px;
}
.contact-frm .form-textarea textarea {
	width:361px;
}
.contact-frm .form-textarea {
	margin-top:20px;
}
.entry-info .entry-thumb, .related-posts .entry-thumb {
	width:187px;
}
.entry-info .entry-thumb .social-media, .related-posts .entry-thumb .social-media {
	left:26px;
}
.entry-info .entry-details {
	width:593px;
}
.entry-info .entry-details .row {
	margin-top:28px;
}
.entry-info .entry-details .row li {
	margin:0 11%;
}
.row-section li .left {
	width:160px;
}
ul.status li .right {
	width:590px;
}
.row-section .right .red, .row-section .right .green, .row-section .right .holiday {
	width:280px;
}
.related-posts .entry-thumb {
	margin-right:10px;
}

/* Testimonial */
#row-listing .entry-details {
	width:670px;
}
/* 404 */
.go-bck {
	top:35px;
}
.last {
	margin-bottom:15px !important;
}
.pp_pic_holder {
	left:13% !important;
}
/* Gallery */
ul.gallery-items {
	margin-left:35px;
	width:94%;
}
.gallery-items .one-third  {
	height:168px;
}
.gallery-items .one-third {
	margin:0 6px 12px;
}
.gallery-items .one-half{
	height:281px;
	margin:0px 4px 8px;
}
.gallery-items .one-third img, .gallery-items .one-half img{
	max-height:100%;
	max-width:100%;
}
}
@media only screen and (min-width:600px) and (max-width:800px) {
/* Common for all pages */
.container{
	width:600px;
}
.header .social-media {
	margin-top:150px;
}
.header .social-media li{
	padding:10px 5px;
}
a.logo img{
	max-width:263px;
	margin-top:6px;
}
.search-frm {
	margin-top:0;
	margin-right:11px;
	width:33.9%;
}
/* Menu */
.main-menu-container ul{
	font-size:12px;
	padding-left:1%;
	width:99%;
}
.main-menu-container ul li a {
	padding:23px 6px;
}
.fullwidth {
	width:96.7%;
}
/* notify-section */
.notify-bg{
	margin-left:0;
	width:98%;
}
/* Banner */
.banner{
	height:238px;
}
.nivo-caption{
	width:360px;
}
.nivo-caption p{
	margin:0 10px 15px;
}
.banner-right {
	height:353px;
	margin-right:0;
	width:600px;
}
.banner-testimonial {
	margin-left:25%;
}
/* INdex 1 */
.home-col-left , .home-col-right {
	margin-left:10%;
}
.home-recent-news ul li {
	width:30%;
}
.home-recent-news .small {
	float:left;
}
.home-recent-news .our-team .last{
	margin-left:10px !important;
}
/* Footer */
.footer-column1 {
	margin:0px 8px;
	width:97%;
}
.footer-column2, .footer-column3{
	margin:0px 8px;
	min-height: 348px;
	width: 47.2%;
}
/* About */
.row-section li .left {
	padding:57px 10px 25px 20px;
	width:145px;
}
.row-section li .right {
	width:350px;
}
span.video-shadow {
	background:url("../images/video-shadow-small.png") no-repeat;
	height:71px;
	margin-left:0;
	width:581px;
}
.blq2 {
	width:92.8%;
}
/* Typography */
.one-fourth {
    width: 22.2%;
}
.one-fourth img {
	margin-bottom:10px;
	width:100%;
}
.one-fourth span.shadow {
	display:none;
}
img.alignleft, img.alignright, img.aligncenter {
	max-width:100%;
}
.right-accordion .holder{
	width:359px;
}
.one-half , .two-third, .three-fourth, .four-fifth, .one-third, .one-fifth , .one-fourth{
	margin-bottom:10px;
}
.one-half {
	width:48%;
}
.two-third {
	width:65%;
}
.three-fourth {
	width:73.3%;
}
.four-fifth {
	width:79.7%;
}
.one-third {
	width:29.7%;
}
.one-fifth {
	margin-right:22px;
	width:16.9%;
}
.block-heading-two {
	width:94%;
}
.block-heading-two h2 {
	width:251px;
}
.block-heading-two h2 span {
	width:238px;
}
.block-content {
	width:99.4%;
}
/* Accordion  */
.accordion-container {
	margin-bottom:30px;
}
ul.accordion li a.active , ul.accordion li a.title{
	width:91.3%;
}
ul.right-accordion li div.holder , ul.accordion li div.holder{
	width:100%;
}
/* Button */
.small {
	font-size:12px;
}
.big {
	font-size:14px;
}
.big-right-arrow-red span, .big-right-arrow-brown span, .big-square-red span, .big-square-brown span {
	padding:0 29px 0 40px;
}
.big-double-arrow-red span, .big-double-arrow-brown span , .big-rounded-red span, .big-rounded-brown span{
	padding:0px 20px 0px 35px;
}
/* Blog */
.blog-post {
	min-height:667px;
}
.blog-post img{
	max-width:100%;
}
.post-content {
	position:relative;
	left: 20%;
    top: 0px;
}
.entry-post {
	position:relative;
	margin-bottom:20px;
	top:0;
}
.social-bookmarks {
	width:600px;
}
.comment-frm .form-textarea {
	width:589px;
}
.comment-frm textarea {
	width:481px;
}
.comment-frm {
	margin-bottom:25px;
}
.post-content .post-meta {
	width:97%;
}
.post-content .post-meta li {
	width:24%;
}
/* Contact */
.page-content {
	padding-right:10px;
	width:580px;
}
.map-section {
	width:582px;
}
.map-section iframe {
	width:580px;
	height:250px;
}
.contact-frm .form-textarea textarea {
	width:361px;
}
.contact-frm .form-textarea {
	margin-top:20px;
}
.entry-info .entry-thumb, .related-posts .entry-thumb {
	width:137px;
}
.entry-info .entry-thumb .social-media, .related-posts .entry-thumb .social-media {
	left:-3px;
}
.entry-info .entry-details {
	width:442px;
}
.entry-info .entry-details .row {
	margin-top:10px;
}
.entry-info .entry-details .row li {
	margin:0 4%;
}
.row-section li .left {
	width:160px;
}
ul.status li .right {
	width:390px;
}
.row-section .right .red, .row-section .right .green, .row-section .right .holiday {
	width:181px;
}
.related-posts .entry-thumb {
	margin-right:10px;
	margin-bottom:20px;
}
.btn-block {
	float:left;
	margin-bottom:0;
}
.contact-widget-bottom-bg {
	margin-bottom:30px;
}
.contact-widget-container , .contact-widget-bottom-bg {
	float:left;
	margin-left:10px;
}
/* Testimonial */
#row-listing .entry-details {
	width:470px;
}
/* 404 */
.error-txt {
	min-height:759px;
}
.error-txt img {
	max-width:98%;
}
.go-bck {
	top:35px;
}
.last {
	margin-bottom:15px !important;
}
.pp_pic_holder {
	left:14% !important;
}
form.book-form p.twocolumn input[type="text"] {
	background:#F7ECD8 !important;
}
form.book-form p.form-textarea textarea {
	width:351px;
}
form.book-form input[type="text"] {
	width:77.7%;
}
form.book-form p.twocolumn input[type="text"] {
	width:120px;
}
.book-form-container {
	width:491px;
}
/* Gallery */
.gallery-items {
	margin-left:0px;
	width:100%;
}
.gallery-items .one-third ,.gallery-items .one-half{
	height: 190px;
    margin: 0 5px 10px;
    width: 278px;
}
.gallery-items .one-third img, .gallery-items .one-half img{
	max-width:100%;
	max-height:100%;
}
.gallery-items .last-column , .gallery-items .one-third , .gallery-items .one-half{
	margin:0 5px 10px 5px !important;
}
}
@media only screen and (min-width:400px) and (max-width:600px) { 
/* Common for all pages */
.container{
	width:400px;
}
.header .social-media {
	display:none;
}
.header .social-media li{
	padding:10px 5px;
}
p{
	margin-bottom:15px;
}
a.logo img{
	max-width:263px;
	margin-top:6px;
	margin-left:64px;
}
.search-frm {
	margin-right: 23%;
    margin-top: 11px;
    width: 53.9%;
}
.tinynav { 
	background:#e9b55f;
	border: 1px solid #624B33;
    bottom: -18px;
    color: #230A0A;
    display: block;
    height: 36px;
    left: 4%;
    margin: 0 0 0 22px;
    padding: 7px 5px 6px;
    position: absolute;
    width: 81%;
}
#main-menu, .main-menu-container .left ,  .main-menu-container .right { display: none; }
.fullwidth {
	width:95%;
	padding-top:48px;
}
.content {
	padding-top:48px;
}
/* notify-section */
.notify-bg{
	margin-left:0;
	width:98%;
}
.notify-bg .notify-info {
	font-size:19px;
}
/* Banner */
.banner-testimonial {
	margin-left:12%;
}
.banner{
	height:156px;
}
.nivo-caption{
	display:none !important;
}
.nivo-caption p{
	margin:0 10px 15px;
}
.banner-right {
	margin-right:0;
	height:235px;
	width:400px;
}
/* INdex 1 */
/* Home News */
.home-recent-news ul li {
	margin-bottom:30px;
	width:95%;
}
.home-recent-news .small {
	float:left;
}
.home-recent-news .our-team .last{
	margin-left:10px !important;
}
/* Home col left & right */
.home-col-left , .home-col-right{
	margin-right:0;
	width:100%;
}
.home-our-team .entry .entry-thumb {
	margin-right:10px;
}
.home-col-left .home-our-team{
	min-height:398px;
}
.home-col-left .home-our-team .entry-title {
	width:95%;
}
.home-col-left .home-our-team .entry .entry-title{
	width:59%;	
}
.home-col-left .home-our-team .entry .entry-title-bottom{
	width:65.5%;
}
.home-testimonials{
	min-height:388px;
}
.home-col-bottom {
	width:100%;
}
.home-recent-news .our-team .entry {
	margin-bottom:20px;
	width:92.8%;
}
.home-recent-news .our-team .entry-thumb {
	margin-right:10px;
}
.home-recent-news .our-team .post-details {
	width:59%;
}
.home-our-team .entry .entry-title, .our-team .post-details .post-title {
	width:88%;
}
.home-our-team .entry .entry-title-bottom, .our-team .post-details .post-title-bottom {
	width:100%;
}
.home-col-left .latest-news-container .entry {
	width:95%;
}
.home-col-left .latest-news-container .post-details {
	width:242px;
}
.latest-news-container, .home-practice {
	min-height:374px;
}
.home-testimonials div {
	padding-right:10px;
	width:92.5%;
}
/* Footer */
.footer-column1, .footer-column2, .footer-column3{
	margin:0px 8px;
	padding-top:0;
	width: 96%;
}
.footer-widgets .widget , span.footer-top-bg{
	margin-bottom:30px;
}
/* About */
.row-section li {
	margin-bottom:20px;
}
.row-section li .left {
	padding:26px 10px 0px 20px;
	width:145px;
}
.row-section li .right {
	margin-top:5px;
	width:340px;
}
span.video-shadow {
	display:none;
}
.blq2 {
	width:89.7%;
}
/* Typography */
.one-fourth {
    margin-right: 0px;
    width: 100%;
}
img.alignleft, img.alignright, img.aligncenter {
	max-width:100%;
}
.right-accordion .holder{
	width:359px;
}
.one-half , .two-third, .three-fourth, .four-fifth, .one-third, .one-fifth , .one-fourth{
	margin-bottom:15px;
}
.one-half {
	width:98%;
}
.two-third {
	width:90%;
}
.three-fourth {
	width:90%;
}
.four-fifth {
	width:90%;
}
.one-third {
	width:95%;
}
.one-fifth {
	margin-right:0px;
	width:100%;
}
.one-fourth p{
	float:left;
}
#tab1, #tab2, #tab3 {
	width:95%;
}
/* Accordion  */
.accordion-container {
	margin-bottom:30px;
}
ul.accordion li a.active , ul.accordion li a.title{
	width:93.5%;
}
ul.right-accordion li div.holder , ul.accordion li div.holder{
	width:100%;
}
/* Button */
.small {
	font-size:12px;
}
.big {
	font-size:14px;
}
.big-right-arrow-red span, .big-right-arrow-brown span, .big-square-red span, .big-square-brown span {
	padding:0 29px 0 40px;
}
.big-double-arrow-red span, .big-double-arrow-brown span , .big-rounded-red span, .big-rounded-brown span{
	padding:0px 20px 0px 35px;
}
.aln-center p {
	width:50%;
}
/* Blog */
.blog-post {
	min-height:580px;
}
.blog-post img{
	max-width:100%;
}
.post-content {
	position:relative;
	left: 7%;
    top: 0px;
}
.entry-post {
	position:relative;
	margin-bottom:20px;
	top:0;
}
.nav-below {
	width:100%;
}
.social-bookmarks {
	width:400px;
}
.comment-frm {
	margin-bottom:25px;
}
.comment-frm .form-textarea {
	width:390px;
}
.comment-frm textarea {
	width:282px;
}
.respond {
	margin-top:20px;
}
.post-content .post-meta {
	width:97%;
}
.post-content .post-meta li {
	width:77px;
}
/* Contact */
.page-content {
	padding-right:10px;
	width:380px;
}
.map-section {
	width:382px;
}
.map-section iframe {
	width:380px;
	height:200px;
}
.contact-frm .form-textarea label {
	height:152px;
}
.contact-frm .form-textarea textarea {
	height:150px;
	width:278px;
}
.contact-frm .form-textarea {
	margin-top:20px;
}
.entry-info .entry-thumb, .related-posts .entry-thumb {
	margin-bottom:5px;
	width:179px;
}
.entry-info .entry-thumb .social-media, .related-posts .entry-thumb .social-media {
	left:19px;
}
.entry-info .entry-details {
	width:381px;
}
.related-posts {
	margin-bottom:20px;
}
.entry-info .entry-details .row {
	margin-top:10px;
}
.entry-info .entry-details .row li {
	margin:0 3%;
}
.row-section li .left {
	width:92%;
}
ul.status li .right {
	width:100%;
}
.row-section .right .red, .row-section .right .green, .row-section .right .holiday {
	width:175px;
}
.related-posts .entry-thumb {
	margin-right:10px;
	margin-bottom:40px;
}
.btn-block {
	float:left;
	margin-bottom:0;
}
.contact-widget-bottom-bg {
	margin-bottom:30px;
}
.contact-widget-container , .contact-widget-bottom-bg {
	float:left;
	margin-left:10px;
}
/* Testimonial */
#row-listing .entry-details {
	width:71%;
}
/* 404 */
.error-txt {
	min-height:601px;
}
.error-txt img {
	max-width:98%;
}
.go-bck {
	top:35px;
}
.last {
	margin-bottom:15px !important;
}
.pp_pic_holder {
	left:20px !important;
	width:400px !important;
}
.pp_content {
	width:399px !important;
}
.book-form-container, .ppt ,.pp_details {
	width:383px !important;
}
form.book-form p.twocolumn input[type="text"] {
	background:#F7ECD8 !important;
}
form.book-form p.form-textarea textarea {
	width:257px;
}
.pp_content_container .pp_left {
	padding-left:0;
}
.pp_content_container .pp_right {
	padding-right:0;
}
form.book-form p label {
	 padding:18px 0px 18px 6px;
 }
form.book-form input[type="text"] {
	width:74.7%;
}
form.book-form p.twocolumn input[type="text"] {
	width:80px;
}
.rtl-btns {
	margin-left:0;
	width:100%;
}
/* Gallery */
.gallery-items {
	margin-left: 33px;
    width: 82.8%;
}
.gallery-items .one-third  ,.gallery-items .one-half{
	height:208px;
    margin: 0 5px 20px;
}
.gallery-items .one-third img , .gallery-items .one-half img{
	max-width:100%;
	max-height:100%;
}
}
@media only screen and (min-width:250px) and (max-width:400px) { 
/* Common for all pages */
.container{
	width:250px;
}
.top-line, .header {
	width:94.5%;
}
.header .social-media {
	display:none;
}
.header .social-media li{
	padding:10px 5px;
}
p{
	margin-bottom:15px;
}
a.logo img{
	max-width:211px;
	margin-top:6px;
	margin-left:12px;
}
.search-frm {
	margin-right: 10%;
	margin-top: 10px;
	width: 82.9%;
}
.search-frm input[type="submit"] {
	background:url("../images/search-ico.png") no-repeat scroll 11px 6px #D24F4D;
	height:31px;
	width:40px;
}
.search-frm input[type="text"] {
	padding:3px 5px 3px 14px;
}
/* Menu */
.tinynav { 
	display: block;
	padding: 7px 5px 6px;
	margin: 0 0 0px 22px;
	width:81%;
	height:36px;
	background:#e9b55f;
	color:#230A0A;
	position:absolute;
	bottom:13px;
	border:1px solid #624b33;
}
#main-menu, .main-menu-container .left ,  .main-menu-container .right { display: none; }
.content {
	padding-top:20px;
}
.fullwidth {
	padding-top:20px;
	width:92%;
}
/* notify-section */
.notify-bg{
	margin-left:0;
	width:98%;
}
.notify-bg .notify-info {
	font-size:16px;
	line-height:24px;
}
/* Banner */
.banner-testimonial {
	margin-left:12%;
}
.banner{
	height:89px;
}
.nivo-caption{
	display:none !important;
}
.nivo-caption p{
	margin:0 10px 15px;
}
.banner-right {
	width:400px;
}
/* INdex 1 */
/* Home News */
.home-recent-news ul li {
	margin-bottom:30px;
	width:92%;
}
.home-recent-news .small {
	float:left;
}
.home-recent-news .our-team .last{
	margin-left:10px !important;
}
/* Home col left & right */
.home-col-left , .home-col-right{
	margin-right:0;
	width:100%;
}
.home-recent-news h2.home-recent-title{
	width:179px;
}
.home-col-left h2 span,  .home-recent-news h2.home-recent-title span {
	width:153px;
}
.home-col-left h2 {
	width:166px;
}
.home-col-right h2 {
	font-size:19px;
	width:203px;
}
.home-col-right h2 span {
	width:190px;
}
.home-col-left .small , .home-col-right .small{
	float:right;
}
.home-recent-news a.read-more span, .home-practice a.read-more span, .small-right-arrow-red span {
	line-height:44px;
}
.home-recent-news h2.home-recent-title {
	font-size:19px;
}
.home-our-team .entry .entry-thumb {
	margin-right:10px;
}
.home-col-bottom {
	width:100%;
}
.home-recent-news .our-team .entry {
	margin-bottom:20px;
	width:92.8%;
}
.home-recent-news .our-team .entry-thumb {
	margin-right:10px;
}
.home-recent-news .our-team .post-details {
	width:100%;
}
.home-our-team .entry .entry-title, .our-team .post-details .post-title {
	margin-top:5px;
	width:86%;
}
.home-our-team .entry .entry-title-bottom, .our-team .post-details .post-title-bottom {
	width:96.6%;
}
.home-col-left .latest-news-container .entry {
	width:91.8%;
}
.home-col-left .latest-news-container .post-details {
	width:98%;
}
.home-col-left h2 {
	font-size:18px;
}
.home-col-left h2 span {
	padding-top:0px;
	line-height:50px;
	height:50px;
}
.home-col-left .latest-news-container .post-details {
	margin-top:10px;
}
.latest-news-container{
	min-height:560px;
}
.home-practice{
	min-height:374px;
}
.home-testimonials div {
	padding-right:10px;
	width:86%;
}
.home-our-team {
	min-height:560px;
}
.home-testimonials {
	min-height:439px;
}
/* Footer */
.footer-column1, .footer-column2, .footer-column3{
	margin:0px 8px;
	padding-top:0;
	width: 92.1%;
}
.footer-widgets .widget , span.footer-top-bg{
	margin-bottom:30px;
}
#footer-contact input[type="text"], #footer-contact textarea {
	width:89%;
}
.footer-info p {
	padding-bottom:20px;
}
/* Index 2 */
.banner-testimonial {
	margin-left:5px;
	width:85%;
}
.banner-testimonial h2 {
	margin-bottom:6px;
}
.banner-testimonial span.place {
	margin-bottom:5px;
}
.banner-right {
	height:162px;
	margin-right:0;
	padding-bottom:5px;
	width:100%;
}
.banner-testimonial ul ,.banner-testimonial ul li{
	margin-left:0;
	height:262px;
	width:100%;
}
/* About */
.row-section li {
	margin-bottom:20px;
}
.row-section li .left {
	padding:26px 10px 0px 20px;
	width:145px;
}
.row-section li .right {
	margin-top:5px;
	width:84%;
}
span.video-shadow {
	display:none;
}
.blq2 {
	padding-right:10px;
	width:82.7%;
}
.navigation a.prev span, .navigation a.next span {
	padding:10px 9px 5px;
}
/* Typography */
.one-fourth {
    margin-right: 0px;
    width: 100%;
}
img.alignleft, img.alignright, img.aligncenter {
	max-width:100%;
}
.right-accordion .holder{
	width:359px;
}
.one-half , .two-third, .three-fourth, .four-fifth, .one-third, .one-fifth , .one-fourth{
	margin-bottom:15px;
}
.one-half {
	width:98%;
}
.two-third {
	width:90%;
}
.three-fourth {
	width:90%;
}
.four-fifth {
	width:90%;
}
.one-third {
	margin-right:9px;
	width:100%;
}
.one-fifth {
	margin-right:0px;
	width:100%;
}
.one-fourth p{
	float:left;
}
.table , .table table{
	float:left;
	width:100%;
}
.table , .table table th h6{
	font-size:12px !important;
}
.table , .table table tr td{
	font-size:10px;
}
/* Accordion  */
.accordion-container {
	margin-bottom:30px;
}
ul.accordion li a.active , ul.accordion li a.title{
	width:89.5%;
}
ul.accordion li a:hover , ul.accordion li a.active , ul.accordion li a.title{
	font-size:16px;
}
ul.right-accordion li div.holder , ul.accordion li div.holder{
	width:100%;
}
.block-heading-two h2 {
	width:200px;
}
.block-heading-two h2 span {
	width:187px;
}
#tab1, #tab2, #tab3 {
	width:95.1%;
}
.tabs-framed-container .tabs-framed li a {
	font-size:14px;
	padding:15px 10px;
}
.block-heading-two {
	width:91.8%;
}
/* Button */
.small , .big{
	float:left;
}
.small {
	font-size:12px;
}
.big {
	font-size:14px;
}
.big-right-arrow-red span, .big-right-arrow-brown span, .big-square-red span, .big-square-brown span {
	padding:0 29px 0 40px;
}
.big-double-arrow-red span, .big-double-arrow-brown span , .big-rounded-red span, .big-rounded-brown span{
	padding:0px 20px 0px 35px;
}
.aln-center p {
	width:100%;
}
/* Blog */
.blog-post {
	min-height:570px;
	margin-bottom:20px;
}
.blog-post img{
	margin-right:10px;
	max-width:100%;
}
.post-content {
	position:relative;
	left: 0%;
    top: 0px;
	width:100%;
}
.entry-post {
	position:relative;
	margin-bottom:20px;
	top:0;
}
.social-bookmarks {
	width:250px;
}
.post-content .post-meta li {
	margin:10px 8px 0px 8px;
	width:60px;
}
.entry-content blockquote {
	margin-left:0;
	width:73.2%;
}
.nav-below {
	width:100%;
}
.nav-below a {
	margin-bottom:10px;
}
.comment-frm {
	margin-bottom:25px;
}
.post-content .post-meta li.post-date span.date {
	font-size:22px;
}
.post-content .post-meta li.post-date span.month {
	font-size:11px;
	line-height:11px;
	margin-top:6px;
}
.entry-post {
	width:100%;
}
.comment-frm .form-textarea {
	width:100%;
}
/* Contact */
.page-content {
	width:230px;
	padding-right:10px;
}
.map-section {
	width:232px;
}
.map-section iframe {
	width:230px;
	height:140px;
}
.comment-frm .form-field, .contact-frm .form-field {
	margin-right:0;
	width:100%;
}
.comment-frm .form-field label, .comment-frm .form-textarea label, .contact-frm label {
	padding:15px 10px;
	width:53px;
}
.comment-frm .form-field input[type="text"], .comment-frm textarea, .contact-frm input[type="text"], .contact-frm textarea{
	padding:15px 5px;
	width:142px;
}
.contact-frm .form-textarea textarea {
	height:150px;
	width:142px;
}
.contact-frm .form-textarea label {
	height:152px;
}
.contact-frm .form-textarea {
	margin-top:20px;
}
.entry-info .entry-thumb, .related-posts .entry-thumb {
	margin-bottom:5px;
	width:179px;
}
.entry-info .entry-thumb .social-media, .related-posts .entry-thumb .social-media {
	left:40px;
}
.entry-info .entry-details {
	width:100%;
}
.related-posts {
	margin-bottom:20px;
}
.entry-info .entry-details .row {
	margin-top:10px;
}
.entry-info .entry-details .row li {
	margin:0 3%;
}
.row-section li .left {
	width:88%;
}
ul.status li .right {
	width:100%;
}
.row-section .right .red, .row-section .right .green, .row-section .right .holiday {
	width:44%;
}
.navigation a.prev span, .navigation a.next span {
	font-size:11px;
	line-height:23px;
}
.related-posts .entry-thumb {
	margin-right:10px;
	margin-bottom:40px;
}
.btn-block {
	float:left;
	margin-bottom:0;
}
.contact-widget-bottom-bg {
	margin-bottom:30px;
}
.contact-widget-container , .contact-widget-bottom-bg {
	float:left;
	margin-left:10px;
	width:88%;
}
.contact-widget-bottom-bg {
	width:93%;
}
.contact-widget-container h2 {
	left:7px;
}
/* Testimonial */
#row-listing .entry-details {
	margin-top:10px;
	width:100%;
}
/* 404 */
.error-txt {
	min-height:584px;
}
.error-txt img {
	margin-top:6px;
	max-width:98%;
}
.go-bck {
	top:35px;
}
.last {
	margin-bottom:15px !important;
}
.pp_pic_holder {
	left:45px !important;
	width:250px !important;
}
.pp_content {
	width:250px !important;
}
.book-form-container, .ppt ,.pp_details {
	width:250px !important;
}
form.book-form p label {
	width:49px;
}
form.book-form p.twocolumn input[type="text"] {
	background:#F7ECD8 !important;
	margin-right:5px;
}
form.book-form p.form-textarea textarea {
	width:207px;
}
.form-content {
	padding:10px;
}
.form-content .green {
	padding:16px 10px;
}
.pp_content_container .pp_left {
	padding-left:0;
}
.pp_content_container .pp_right {
	padding-right:0;
}
form.book-form p label {
	 padding:18px 0px 18px 6px;
	 font-size:11px;
 }
form.book-form input[type="text"],form.book-form p.twocolumn input[type="text"] ,form.book-form p.form-textarea textarea{
	width:64%;
}
form.book-form p.twocolumn input[type="text"] {
	margin-bottom:15px;
}
.rtl-btns {
	margin-left:0;
	width:100%;
}
p.twocolumn input.last{
	margin:0 !important;
}
.rtl-btns .submit-btn {
	 margin-bottom:10px;
}
/* Gallery */
.gallery-items {
	margin-left:0px;
	width:100%;
}
.gallery-items .one-third ,.gallery-items .one-half{
	height: 146px;
    margin: 0 5px 10px;
    width: 218px;
}
.gallery-items .one-third a img, .gallery-items .one-half a img {
	max-height:100%;
	max-width:100%;
}
}