/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url("loading.gif") no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:32px;
	bottom:-6px;
	width:auto;
	z-index:100;
}
.theme-default .nivo-controlNav a {
	display:block;
	width:24px;
	height:24px;
	background:url("bullets.png") no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:10px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -24px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:29px;
	height:75px;
	background:url("arrows.png") no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-29px 0;
	right:0px;
}
.theme-default a.nivo-prevNav {
	left:0px;
}

.theme-default .nivo-caption {
/*    font-family: Helvetica, Arial, sans-serif; */
}
.theme-default .nivo-caption a {
    color:#fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}
@media only screen and (min-width: 250px) and (max-width: 400px) {
.theme-default .nivo-directionNav a{
	background:url("arrows1.png") no-repeat scroll 0 0 transparent;
	width:14px;
	height:36px;
	z-index:9999;
}
.theme-default a.nivo-prevNav{
	left:0px;
}
.theme-default a.nivo-nextNav{
	background-position:-14px 0px;
	right:0px;
}
.theme-default .nivo-controlNav a{
	background:url("bullets1.png") no-repeat;
	width:12px;
	height:11px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -13px;
}
}